:root{
	--maincolor: #2B2C2C;
	--secondarycolor: #FFFFFF;
	--backgroundcolor: #2e2e2e;
	--backc: #252525;
	--secondarytext: #CCCCCC;
	--text: #9F9F9F;
	--yellow: #FEB633;
	--transparent: #FFFFFF00;
}
html{
	scroll-behavior: smooth;
}
html body{
	margin: 0;
	padding: 0;
}

/*====Header/ Navbar=====*/
.list{
	margin: 0;
	padding-left: 0px;
	margin-left: 30em;
	padding: 10px;
}

.list li{
	list-style: none;
	display: inline-flex;
	font-size: 20px;
	justify-content: space-between;
	padding: 10px;
	margin-left: 5em;
	font-family: 'Poppins', sans-serif;
	font-size: 14.5px;
	font-weight: 900;
	color: white;

}


 .header{
 	display: inline-flex;
 	position: fixed;
 	width: 100%;
 	align-items: center;
 	background-color: var(--backc);
}

 .list #link0{
 	text-decoration: none;
 	color: white;
 	border:none;
 	position: absolute;

 }
 #link0:hover{
	color: var(--yellow);
	border-bottom: 2px solid var(--yellow);
	width: 2%;
}


#logo{
	margin: 0;
	font-size: 4em;
	margin-left: 1.5em;
	color: var(--yellow);
}
.b {
  display: block;
}

.toggle {
  position: absolute;
  border: 2px solid #FEB633;
  top: 75%;
  left: 92%;
  width: 30px;
  height: 15px;
  border-radius: 100px;
  background-color: var(--backc);
  margin: -20px -40px;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
}

.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

  .check:checked ~ .track {
    box-shadow: inset 0 0 0 20px #FFFFFF;
  }

  .check:checked ~ .switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
  }

.switch {

  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #FEB633;
  border-radius: 50%;
  z-index: 1;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: var(--backc);
  bottom: 0;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
  border-radius: 40px;
}


/*====End Navbar=====*/


/*====Home=====*/

.home{
	padding-top: 6em;
	width: 100%;
	height: 40em;
	display: inline-flex;
	background-color: var(--backc);
}
.name{

	width: 30%;
	height: 20em;
	margin-top: 9em;
	margin-left: 9em;
	line-height: 65px;
}
.pic{
	width: 42.1%;
	height: 35em;
	margin-top: 1em;
	margin-left: 2em;
	margin-right: 0;
}
h1{
	font-family: 'Poppins';
	font-size: 55px;
	color: var(--secondarytext);
	color: white;

}
#description{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	color: white;
	line-height: 1px;
}


a.animated-button.thar-one {
	 display: block;
     width: 250px;
     height: 50px;
     margin-top: 1em;
     margin-left: 0.5em;
     font-family: 'Poppins';
     line-height: 50px;
     font-weight: bold;
     text-decoration: none;
     background: var(--yellow);
     text-align: center;
     color: #fff;

     text-transform: uppercase;
     letter-spacing: 1px;
	 /*transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;*/
}
span{
	border-color: 2px solid var(--yellow);
	font-size: 1.2em;
	padding-bottom: 5px;

}
.btn{
	width: 13em;
	height: 2.5em;

}
a.animated-button.thar-one:hover {

	border-color: 5px solid var(--yellow);
	background-color: transparent;
	text-shadow: none;
	border: 2px solid #FEB633;
	
}

/*====End Home=====*/

/*===start About=====*/

.about{
	width: 100%;
	height: 39em;
	display: inline-flex;
	justify-content: space-around;
	background-color: #2e2e2e;
}
.about1{
	width: 40%;
	height: 20em;
	margin-top: 10em;	
}

.about1 h1{
	color: var(--secondarytext);
	text-align: right;
	padding: 1em;
	font-size: 55px;

}
#aboutline{
	width: 25%;
	height: 2px;
	background-color: var(--yellow);
	border: 2px solid var(--yellow);
	margin-left: 16em;
	margin-top: -5em;
}

.about2{
	width: 50%;
	height: 30em;
	margin-top: 5em;
}

.about2 p{
	color: #9F9F9F;
	font-family: 'Poppins';
	font-size: 17px;
	padding: 3em;
	padding-left: 0;
}

:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: 'Poppins';
  --color-primary: #FEB633;
  --color-secondary: white;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}


.multi-button {
  display: flex;
  width: 50%;
  box-shadow: var(--shadow) 4px 4px;
}

.multi-button button {
  flex-grow: 1;
  cursor: pointer;
  /*position: relative;*/
  padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
  border: var(--border-size) solid #FEB633;
  color: black;
  background-color: var(--color-primary);
  font-size: 1rem;
  font-family: var(--font-family);
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
}

.multi-button button + button {
  border-left: var(--border-size) solid transparent;
  margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: transparent;
}

.multi-button button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: #FEB633;
  outline-color: var(--color-tertiary);
}

.multi-button button:active {
  transform: translateY(var(--border-size));
}


/*====End About======*/

/*====Start Services=====*/

.services{
	margin-top: -2.5em;
	width: 100%;
	height: 55em;
	background-color: var(--backc);
}
.services h1{
	color: var(--secondarytext);
	text-align: center;
	padding: 1em;
	font-size: 55px;

}
.services #aboutline{
	width: 10%;
	margin-left: 40em;
}

.services1{
	width: 80%;
	height: 5em;
	margin-left: 9em;
}

.services1 h3{
	text-align: center;
	color: #9F9F9F;
	font-family: 'Poppins';
	font-size: 1em;
}
.services2{
	border: 2px solid yellow;
	width: 100%;
	height: 40em;
}
.grid-container {
	margin-left: 5em;
	margin-right: 5em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    grid-gap: 10px;
    background-color: none;
    margin-top: 2em;
    padding: 10px;
}

.grid-container > div {
  text-align: center;
  font-size: 29px;
  height: 7em;
  width: 15em;
  padding: 1em;
  border: 1px solid #2e2e2e; 
  border-radius: 5%; 
}

.grid-container>div:hover
{
	border: none;
    border-radius: 21px;
    background: #252525;
   border-radius: 12px;
background: linear-gradient(145deg, #212121, #282828);
box-shadow:  5px 5px 10px #1b1b1b,
             -5px -5px 10px #2f2f2f;
}

#img1{
	height: 3.5em;
}

#appdev{
	text-align: center;
	color: #9F9F9F;
	font-family: 'Poppins';
	font-size: 0.7em;
	font-weight: bolder;
}

/*==========END services===========*/


/*==========Start Project display========*/



/*========END Project display=========*/


/*========Start Hire=========*/

.hire{
	width: 100%;
	height: 25em;
	margin-top: -2.5em;
	background-color: var(--backc)
}

.hire h1{
	color: var(--secondarytext);
	text-align: center;
	padding: 1em;
	font-size: 55px;

}
.hire #aboutline{
	width: 10%;
	margin-left: 40em;
}

/*===========End Hire=========================*/


.contact{
	width: 100%;
	height: 50em;
	margin-top: -2.5em;
	background-color: var(--backgroundcolor)
}

.contact h1{
	color: var(--secondarytext);
	text-align: center;
	padding: 1em;
	font-size: 55px;

}
.contact #aboutline{
	width: 10%;
	margin-left: 40em;
}

.wrapper1{
	width: 100%;
	height: 20em;
	margin-left: 0;
	margin-top: 3em;
	display: inline-flex;
	justify-content: space-around;
}

.contact1{
	width: 25%;
	height: 30em;
	padding: 2em;
	color: white;
	margin-top: -2em;
}

.list2 li{
	list-style: none;
	color: #727B86;
	font-family: 'Poppins';
	line-height: 5em;
	font-size: 1em;

}

.contact1 h3{
	font-family: 'Poppins';
	font-size: 20px;
	padding-left: 2em;
}
.contact1 h4{
	font-family: 'Poppins';
	font-size: 20px;
	padding-left: 2em;
}
.contact2{
	width: 60%;
	height: 40em;

}

#contactimg{
	height: 20px;
}

.list3 li{
	list-style: none;
	display: inline-flex;
	background-color: #727B86;
	margin: 5px;
}

.list3 li:hover{
	background-color: #FEB633;
}


a.btn2{
	 display: block;
     width: 250px;
     height: 50px;
     margin-top: 5em;
     margin-left: 37em;
     font-family: 'Poppins';
     line-height: 50px;
     font-weight: bold;
     text-decoration: none;
     background: var(--yellow);
     text-align: center;
     color: #fff;
     text-transform: uppercase;
     letter-spacing: 1px;
	 /*transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;*/
}
span{
	font-size: 1.2em;
	padding-bottom: 5px;

}
.btn2{
	width: 13em;
	height: 2.5em;

}
a.btn2:hover {
	color: #fff!important;
	background-color: transparent;
	text-shadow: none;
	border: 2px solid #FEB633;
}

/*============Form Start==============*/


input[type=text], select, textarea {
  width: 100%;
  padding: 1em;
  background-color: #3d3d3d;
  border: none;
  font-family: 'Poppins';
  resize: vertical;
  margin-left: -2em;
  font-size: 1em;
  caret-color:#777777;
  color: #777777;
}
input:focus, textarea:focus {
	box-shadow: 6px 5px 11px -7px rgba(0,0,0,0.84);
-webkit-box-shadow: 6px 5px 11px -7px rgba(0,0,0,0.84);
-moz-box-shadow: 6px 5px 11px -7px rgba(0,0,0,0.84);

}
label {
	margin-top: 1em;
  font-size: 1.1em;
  display: block;
  color: #777777;
  font-family: 'Poppins';
}

input:focus, textarea {
    outline: none !important;
}

.container {
  background-color: var(--backgroundcolor);
  padding: 2em;
  height: 30em;
  width: 60%;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top: 0;
  }
}


a.btn3{
	 display: block;
     width: 250px;
     height: 50px;
     margin-top: 1em;
     margin-left: 11.3em;
     font-family: 'Poppins';
     line-height: 50px;
     font-weight: bold;
     text-decoration: none;
     background: var(--yellow);
     text-align: center;
     color: #fff;
     text-transform: uppercase;
     letter-spacing: 1px;
	 transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
span{
	font-size: 1.2em;
	padding-bottom: 5px;

}
.btn3{
	width: 13em;
	height: 2.5em;

}
a.btn3:hover {
	color: #fff!important;
	background-color: transparent;
	text-shadow: none;
	border: 2px solid #FEB633;
}

/*============end form========*/

/*============Footer=========*/


.wrapper2{
	height: 15em;
	background-color: var(--backc)
}
.logo2{
	width: 100%;
	height: 10em;
	padding-top: 1em;
}
#logo2{
	margin: 0;
	font-size: 4em;
	margin-left: 10.5em;
	color: var(--yellow);
}
.footer{
	height: 2em;
}
hr{
	border: 0.1px solid #2e2e2e;
}
.list4{
	margin-left: 36.5em;
}

.list4 li{
	list-style: none;
	display: inline-flex;
	background-color: #727B86;
	margin: 5px;
}

.list4 li:hover{
	background-color: #FEB633;
}